body.container {
  margin: 0px;
  font-family: sans-serif;
}

h1 {
  font-size: 22.68px;
}
a {
  color: #0645ad;
}

.main-page {
  padding: 1.25em 1.5em 1.5em 1.5em;
}

.sidebar {
  float: left;
  width: 10em;
}

.content {
  float: right;
  max-width: 80%;
}

.green-theme {
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
  margin: 1px;
}

.green-theme.col-xs-7 {
  width: 56%;
}

.blue-theme {
  background-color: #f5faff;
  border: 1px solid #cedff2;
  margin: 1px;
}

.blue-theme.col-xs-5 {
  width: 43%;
}

.violet-theme {
  background-color: #faf5ff;
  border: 1px solid #ddcef2;
}

.grey-theme {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 1.2em 0 6px;
  padding: 1em;
  overflow: hidden;
}

.welcome-message {
  float: left;
  text-align: center;
}

.row.main-grid {
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.categories {
  float: right;
}

.blue-theme h2 {
  background-color: #cedff2;
}

.green-theme h2 {
  background-color: #cef2e0;
}

.violet-theme h2 {
  background-color: #ddcef2;
}

.sidebar ul {
  list-style: none;
  padding-left: 0px;
}

.sidebar li {
  line-height: 1.125em;
  font-size: 0.75em;
  padding: 0.25em 0;
}
.sidebar h2 {
  font-size: 0.75em;
  text-decoration: underline;
}

img.logo {
  height: 160px;
}
