body.container {
  margin: 0px;
  font-family: sans-serif;
}

h1 {
  font-size: 22.68px;
}
a {
  color: #0645ad;
}

.main-page {
  padding: 1.25em 1.5em 1.5em 1.5em;
}

.sidebar {
  float: left;
  width: 10em;
}

.content {
  float: right;
  max-width: 80%;
}

.green-theme {
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
  margin: 1px;
  padding: 3px 6px;;
}

.green-theme.col-xs-7 {
  width: 56%;
}

.blue-theme {
  background-color: #f5faff;
  border: 1px solid #cedff2;
  margin: 1px;
  padding: 3px 6px;;
}

.blue-theme.col-xs-5 {
  width: 43%;
}

.violet-theme {
  background-color: #faf5ff;
  border: 1px solid #ddcef2;
  overflow: hidden;
  padding: 3px 6px;
}

.grey-theme {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 1.2em 0 6px;
  padding: 1em;
  overflow: hidden;
}

.welcome-message {
  float: left;
  text-align: center;
}

.row.main-grid {
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.categories {
  float: right;
}

.main-page h2 {
  font-size: 16.8px;
  font-weight: bold;
  padding: 0.2em 0.4em;
  margin-top: 3px;
}

.blue-theme h2 {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;
}

.green-theme h2 {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
}

.violet-theme h2 {
  background-color: #ddcef2;
  border: 1px solid #afa3bf;
}

.sidebar ul {
  list-style: none;
  padding-left: 0px;
}

.sidebar li {
  line-height: 1.125em;
  font-size: 0.75em;
  padding: 0.25em 0;
}
.sidebar h2 {
  font-size: 0.75em;
  text-decoration: underline;
}

img.logo {
  height: 160px;
}

.violet-theme img {
  display: block;
  float: left;
  height: 332px;
  padding-right: 0.9em;
  margin: 0 3px 3px;
}

.bottom h2 {
  font-family: "Linux Libertine","Georgia","Times";
  font-weight: normal;
  font-size: 21px;
  border-bottom: 1px solid rgb(162, 169, 177);
  margin: 1em 0em 0em 0.25em;
  padding: 0px;
}
